$my-blue: #4468B0;
$lightblack: #474747;
$edit-color: #1269D3;
$delete-color: #FC3B36;
$off-white: #FFFFF3;

.spacer30{
  height:30px;
}

.spacer100{
  height:100px;
}

body{
  background-color: $my-blue;
}
.content{
  text-align: center;
  background-color:$off-white;
  border-radius: 25px;
  color:gray;
  border-color: dodgerblue;
  border-width: 5px;
  border-style: solid;
  hr{
    width: 100%;
    height: 2px;
    background:#474747;
  }
  h4{
    text-align: left;
  }
  ul{
    text-align: left;
  }
  input, button{
    outline: none;
    padding: 10px;
  }
  .edit, .delete{
    background: none;
    border: 0px;
    width: 60px;
    cursor: pointer;
    font-size: 15px;
  }
  .edit:hover{
    background-color: $edit-color;
    color: $off-white;
  }
  .delete:hover{
    background-color: $delete-color;
    color: $off-white;
  }
  input[type="text"]:focus {
    color: #333;
  }
  input[type="checkbox"]{
    margin-right:10px;
  }
}

.add-button{
 position: absolute;
 height:40px;
 width:100px;
 background-color: gray;
 color:white;
 p{
   transform: translate(0%,50%);
 }
 border-top-right-radius: 8px;
 border-bottom-right-radius: 8px;
 transform: translate(-54%);

}
#new-task{
 height:40px;
 width:300px;
 border: gray solid 2px ;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
 transform: translate(-18%);
}
