$my-blue: #4468B0;
$lightblack: #474747;
$edit-color: #1269D3;
$delete-color: #FC3B36;
$off-white: #FFFFF3;

// -----  Hide any element with this class  -----
.hidden{
  display: none;
}

li{
  font-size:25px;

}

.strike-through{
  text-decoration: line-through;
}

.spacer30{
  height:30px;
}

.spacer100{
  height:100px;
}

body{
  background-color: $my-blue;
}
.content{
  text-align: center;
  background-color:$off-white;
  border-radius: 25px;
  color:gray;
  border-color: dodgerblue;
  border-width: 5px;
  border-style: solid;
  hr{
    width: 100%;
    height: 2px;
    background:#474747;
  }
  label{
    // margin-right:10px;
  }
  h4{
    text-align: left;
  }
  ul{
    text-align: left;
    list-style-type: none;
  }
  input, button{
    outline: none;
    padding: 10px;
  }
  .edit, .delete{
    // background: none;
    // border: 0px;
    // width: 60px;
    // cursor: pointer;
    // font-size: 15px;
  }
  .edit{
    &:hover{
      // background-color: $edit-color;
      // color: $off-white;
    }
  }
  .delete:hover{
    // background-color: $delete-color;
    // color: $off-white;
  }
  input[type="text"]:focus {
    color: #333;
  }
  input[type="checkbox"]{
    // margin-right:10px;
  }
}

.add-button{
 position: absolute;
 height:50px;
 width:50px;
 background-color: gray;
 color:white;
 border-radius: 25px;

 &:hover{
   cursor: pointer;
 }
 p{
   transform: translate(0%,10%);
   font-size: 26px;
 }
 transform: translate(-54%);

}
#new-input{
  height: 50px;
  width: 300px;
  border: gray solid 2px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transform: translate(-1%);
  &:focus{
    font-size: 16px;
  }
}

.edit-popup{
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, .8);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    width:80%;
  }
  #saveMe{
    background-color: yellowgreen;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    height:50px;
    border: 2px gray;
    border-left-style:none;
    border-style: solid;
    transform: translate(-6px);
  }
  .list-edit{
    width:500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px gray;
    border-right-style:none;
    border-style: solid;
    height:50px;
    &:focus{
      font-size: 16px;
    }
  }
}//End of editPopup
.special-styles{
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 30px;
}
.fa-circle-o{
  position: absolute;
  transform: translate(-50%,2%);
  left: 4%;
  font-size: 25px;
  &:hover{
    cursor: pointer;
  }
}
.fa-pencil-square-o{
  margin-left: 100px;
  margin-right: 20px;
  font-size: 25px;
  transform: translate(-50%,6%);
  color: #76D7C4;
  position: absolute;
  right: 13%;
  &:hover{
    cursor: pointer;
  }
}
.fa-times-circle{
  position: absolute;
  right: 10%;
  font-size: 25px;
  transform: translate(-50%, 1%);
  color: red;
  &:hover{
    cursor: pointer;
  }
}
.fa-check-circle{
    position: absolute;
    transform: translate(-50%, 2%);
    left: 4%;
    font-size: 25px;
    color: green;
    &:hover{
      cursor: pointer;
    }
}
